<!DOCTYPE html>
{%load static%}
<head>
    <title>Trajets</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">  

</head>
<body>
    <h1>Trajets</h1>
    <div class="topnav">
        <a href="../../accounts/login"><button class="button"type="button" >Login</button></a>
        <a href="{%url 'booking:Trajets' %}"><button class="button"type="button" >Trajets</button></a>
        <a href="{%url 'booking:Reservations' %}"><button class="button"type="button" >Reservations</button></a>
        <a href = {%url 'booking:Homepage'%}><button class="button">Home</button></a>
    </div>

    {% if trajets %}
    <table>
        <tr>
            <th>Gare Départ</th>
            <th>Gare Arrivée</th>
            <th>Date Départ</th>
            <th>Date Arrivée</th>
        </tr>

        {% for trajet in trajets %}
        <tr>
            <td>{{trajet.gareDepart.nom}}</td>
            <td>{{trajet.gareArrivee.nom}}</td>
            <td>{{trajet.DHDepart}}</td>
            <td>{{trajet.DHArrivee}}</td>
        </tr>


        {%endfor%}
        <div>
            <img src="{% static 'trenitalia_logo.svg' %}" class="logo">
        </div>
    {%else%}
        <p>Aucun trajet disponible</p>
        <div>
            <a href = {%url 'booking:Homepage'%}><img src="{% static 'trenitalia_logo.svg' %}" class="logo"></a>
        </div>
    {%endif%}

    </body>
    
