h1 {
    text-align: center;
    font-family: Verdana;
    font-size:60px;
    height:70px;
    color:navy;
}

table, th, td {

    text-align: center;
    border-collapse:collapse;
    font-size: 23px;
    
}
table{
  width:100%;

}
th{
  background-color:darkgreen;
  color:white;
}
tr:nth-child(even) {
  background-color: lightgreen;
}
tr:nth-child(odd) {
  background-color:rgb(80, 211, 41);
}
.button {
  border:none;
  background-color:#04AA6D;
  color:white;
  font-size:25px;
  padding:7px 15px;
  cursor: pointer;
}
td, th {
  padding:8px;
}
.topnav {
  overflow: hidden;
  background-color: #04AA6D;
}

.field {
  font-family:Arial;
}

form {
  font-family:Arial;
}

.logo {
  width:150px;
  height:150px;
  position:absolute;
  left:0px;
  top:0px;
}
.tablebutton1 {
  border:none;
  text-align: center;
  border-collapse:collapse;
  font-size: 23px;
  background-color:rgba(255, 255, 255, 0);
  width:110%;
  cursor:pointer;
}
